.button-container {
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
}

table {
  width: 100%;
  text-align: center;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
  overflow: hidden;

  th,
  td {
    text-align: center;
  }
}

.active-label {
  margin-right: 10px;
}
