<div class="container">
  <div class="button-container">
    <button 
      mat-mini-fab
      [disabled]="isAddUserButtonDisabled() | async"
      (click)="openAddUserDialog()">
      <mat-icon> person_add </mat-icon>
    </button>
  </div>

  <table
    mat-table
    *ngIf="data?.length"
    [dataSource]="data"
    class="mat-elevation-z8">
    <ng-container
      *ngFor="let column of columnsData"
      [matColumnDef]="column.key">
      <th mat-header-cell *matHeaderCellDef>
        {{ column.label }}
      </th>
      <td mat-cell *matCellDef="let row">
        <div>
          <span *ngIf="column.key !== 'active'">{{ row?.[column.key] }}</span>
          <div *ngIf="column.key === 'active'">
            <div>
              <span class="active-label"
                >{{ row?.[column.key] ? 'Active' : 'Inactive' }}
              </span>
              <mat-slide-toggle
                (change)="toggleUserActive(row)"
                [checked]="row[column.key]">
              </mat-slide-toggle>
            </div>
          </div>
        </div>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
</div>
